/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  

  /* Float the link section to the right */
  .header-right {
    float: right;
    background-color: white;
    font-variant-caps: all-petite-caps;
  }
  
